@model  Properties.Models.PropertiesClass
@{
	ViewBag.Title = "Index";
}

 
@*<h2>
	@Model.Country
	@Model.Id
	@Model.Location
	@Model.NumOfBathrooms
	@Model.NumOfBedrooms
	@Model.NumOfFloors
	@Model.PropPrice
	@Model.PropType
	@Model.SquareAcres

</h2>*@
<h1>Mansion</h1>
<h2>
	Id:@Model.Id <br />
	Country:@Model.Country <br />
	Location:@Model.Location<br />
	Type:@Model.PropType<br />
	Price:@Model.PropPrice <br />
	Bedrooms:@Model.NumOfBedrooms <br />
	Bathrooms:@Model.NumOfBathrooms <br />
	Floors:@Model.NumOfFloors<br />
	Acres ^2:@Model.SquareAcres <br />
</h2>
